.box1 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  color: red;
}

.box1-new {
  width: 150px;
  height: 150px;
  background-color: rgb(180, 76, 221);
  color: rgb(160, 176, 228);
}
